<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="player_body">
    <main>
      <div class="container">
        <%- include('../partials/err'); %>
      </div>

      <div class="player_container">
        <h3 class="player_h3">Pick your avatar</h3>
        <form action="/play" method="post" class="form-group">
          <div class="avatar-container">
            <% var avatars = ['elephant', 'frog', 'duck', 'cow', 'chicken', 'penguin', 'dog', 'panda']; %>
            <% avatars.forEach(function(avatar, index) { %>
              <label class="avatar" onclick="selectAvatar('<%= avatar %>')">
                <input type="radio" name="AVATAR_ID" value="<%= avatar %>" style="display: none;">
                <img src="<%= avatar %>.png" alt="<%= avatar %>" style="width: 65px; height: 65px;">
              </label>
              <% if (index === 2 || index === 5) { %> <div style="flex-basis: 100%; height: 0;"></div> <% } %>
            <% }); %>
          </div>
          <button type="submit" class="ready-button">READY</button>
        </form>
      </div>
    </main>

    <footer style="color: black;">
      <%- include('../partials/footer'); %>
    </footer>
  </body>

  <script>
    function selectAvatar(avatarId) {
      var avatars = document.querySelectorAll('.avatar');

      avatars.forEach(avatar => {
        // If the avatar is the one that was clicked, add the 'selected-avatar' class
        if (avatar.children[0].value === avatarId) {
          avatar.classList.add('selected-avatar');
        } else {
          // Otherwise, remove it to ensure only the selected avatar has the border
          avatar.classList.remove('selected-avatar');
        }
      });
    }
  </script>
</html>
