<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Price Selection</title>
    <style>
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #fff;
      }
      .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #0C1562;
      }
      .priceContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
      }
      .priceButton {
        padding: 30px;
        margin: 10px;
        background-color: #fff;
        border-color: #CCC;
        border-width: 1px;
        border-style: solid;
        width: 40%;
      }
      .selectedPrice {
        border-color: #0C1562;
        border-width: 2px;
      }
      .priceText {
        font-size: 25px;
        color: orange;
        text-align: center;
      }
      .ready-button {
        background-color: #0C1562;
        border-radius: 25px;
        width: 80%;
        padding: 15px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
        text-decoration: none;
        display: block; /* Make the button expand */
        margin: 20px auto; /* Center the button */
      }
      .readyButton {
        border-radius: 25px;
        padding: 15px;
        width: 80%;
        justify-content: center;
        align-items: center;
        background-color: #0C1562;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      }
      .readyButtonText {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
      }
    </style>
  </head>
  <body class="container">
    <main>
        <h1 class="title">Choose a price</h1>
        <form action="/play" class="form" method="post">
          <div class="priceContainer">
            <% amounts.forEach(amt => { %>
              <label class="priceButton" id="btn-<%= amt %>" onclick="handlePriceSelect('<%= amt %>')">
                <input type="radio" name="AMOUNT" value="<%= amt %>" style="display: none;"><p class="priceText"><%= amt %></p>
              </label>
            <% }) %>
          </div>

          <button type="submit" class="ready-button">READY</button>
        </form>
    </main>

    <script>
      let selectedPrice = null;
      const prices = ['$100', '$200', '$300', '$400', '$500'];

      const handlePriceSelect = (selectedPrice) => {
        const priceButtons = document.querySelectorAll('.priceButton');
        priceButtons.forEach(button => {
          button.classList.remove('selectedPrice');
        });
        
        selected_button = document.getElementById("btn-" + selectedPrice);
        selected_button.classList.add('selectedPrice');
      };
    </script>
  </body>
</html>