<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>

  <body class="player_body">
    <main>
      <div class="container">
        <%- include('../../partials/err'); %>
      </div>

      <div class="player_container">
        <h1 class="select_title">Choose a Price</h1>
        <form action="/play" class="form" method="post">
          <div class="select_container">
            <% amounts.forEach(amt => { %>
              <label class="select_btn" id="btn-<%= amt %>" onclick="handlePriceSelect('<%= amt %>')">
                <input type="radio" name="AMOUNT" value="<%= amt %>" style="display: none;">
                <span class="select_btn_text"><%= amt %></span>
              </label>
            <% }) %>
            <input type="radio" name="AMOUNT" value="None" style="display: none;" checked>
          </div>

          <button type="submit" class="ready-button">READY</button>
        </form>
      </div>
    </main>

    <footer style="color: black;">
      <%- include('../../partials/footer'); %>
    </footer>
  </body>

  <script>
    let selectedPrice = null;
    const prices = ['$100', '$200', '$300', '$400', '$500'];

    const handlePriceSelect = (selectedPrice) => {
      const priceButtons = document.querySelectorAll('.select_btn');
      priceButtons.forEach(button => {
        button.classList.remove('selectedPrice');
      });
      
      selected_button = document.getElementById("btn-" + selectedPrice);
      selected_button.classList.add('selectedPrice');
    };
  </script>
</html>